/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* COLORS =============================================
Dark Pink (Magenta): #b21e49;
Light Grey: #eeeeee;
Bright Pink: #ff1256;
Dark Grey: #222222;
Blue: #23a4cc;
============================================= */


/* Global Styles ============================= */

body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #222222;
    background: #eeeeee;
}

a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #23a4cc;
}


/* Based on PSD for mobile for news home page, the values for h1-h6 and <p> are posted below */

p {
    font-size: 0.875rem;
    /*(14px)*/
    line-height: 1.25rem;
    /*(20px)*/
    font-weight: normal;
}

h1,
h2,
h3,
h4 {}

h1 {
    font-size: 1.313rem;
    /*(21px)*/
    line-height: 1.375rem;
    /*(22px)*/
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
}

h3 {
    font-size: 1.313rem;
    /*(21px)*/
    line-height: 1rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
}

h5 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

h6 {
    font-size: 0.625rem;
    /*(10px)*/
    line-height: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

section,
article,
figure {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #ff1256;
    border: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75rem;
    text-align: center;
    box-shadow: 2px 2px 0 #DADADA;
    /* this is what I extracted from photoshop - box-shadow: 1.5px 2.598px 0 0 rgba(178, 30, 73, 0.4);*/
}

.btn:hover {
    background-color: #b21e49;
}

.shadow-btn {
    margin-top: 2%;
    padding: 5%;
    box-shadow: 2px 2px 0px #888888;
}

img {
    width: 100%;
    height: auto;
}


/* sm for mobile, md for tablet and lg for desktop version */

.hr-lg {
    display: none;
}


/* Header ============================= */

.grey-line {
    display: none;
}

header {
    width: 100%;
    background: #DDD;
}

#logo {
    width: 90%;
    margin: auto;
    /* centers the logo */
    background: #000;
    /* added this as the image for logo is white text on grey background. To get white text on black background, added black background here*/
    max-width: 280px;
    padding: 5%;
}

nav {
    width: 100%;
    margin: auto;
}

nav ul {
    margin: auto;
    /*  centers the navigation items */
    list-style: none;
    padding: 0;
}

nav ul li {
    background: #DDDDDD;
    border-bottom: 1px solid #CCCCCC;
    /* adds the horizontal rule for mobile version */
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
}

nav ul li a {
    color: #222222;
}


/* Tried using just .current to specify color, but it didn't work. Aleia mentioned that sometimes you have to be specific when you are in the nav element */

nav ul .current a {
    color: #ff1256;
}

.subnav {
    display: none;
}


/* Main Content ============================= */

#main-content {
    clear: both;
    width: 94%;
    margin: auto;
    /*max-width: 320px;*/
}


/* CONCERTS Page ============================= */

.concerts-heading {
    padding-left: 4%;
}


/* there are 2 wrappers because in tablet version there are 2 columns equally divided */

.concerts-wrapper-1,
.concerts-wrapper-2 {
    /*width: 100%;*/
    padding: 4%;
    padding-top: 0;
}

.concerts-wrapper-2 {
    margin-top: 0;
    padding-top: 0;
}

.concert-detail-wrapper {
    width: 100%;
    overflow: auto;
    clear: both;
    margin-bottom: 6%;
    padding-bottom: 4%;
    border-bottom: 1px solid #ccc;
}

.concert-date {
    width: 20%;
    float: left;
    margin: 0;
    padding: 0 1%;
    text-transform: uppercase;
    border: 2px solid #ccc;
}

.concert-date span {
    display: block;
    font-size: 1.4rem;
    text-align: center;
}


/* using id vs. class for css specificity. class does not override the font-size. */

#concert-date-num {
    font-size: 2rem;
    line-height: 1.75rem;
    padding-top: 2%;
}

.concert-detail {
    width: 70%;
    float: left;
    padding: 0 2%;
}

.concert-detail h5 {
    margin: 0;
}

.concert-detail p {
    margin: 0;
    /*font-size: 0.9rem;
    font-weight: 300;*/
    line-height: 1rem;
}

.concert-detail-form {
    width: 100%;
}

.concert-detail-form input[type=button] {
    width: 96%;
    height: 2rem;
}

.concerts-aside {
    display: none;
}


/* MAIN NEWS HOME Page ============================= */

.home-top-wrapper {
    width: 98%;
    margin-top: 3%;
    border-bottom: 1px solid #ccc;
}

.home-top-story {
    width: 100%;
}

.home-top-info {
    width: 100%;
}

.home-top-img img {
    padding: 0;
    border: 2px solid #000;
}

.feed-image img {
    padding: 1%;
    border: 1px solid #ccc;
}


/* NEWS HOMEPAGE - aside area with signups ============================= */

.home-sidebar p {
    padding-bottom: 4%;
}

.home-newsletter {
    width: 100%;
    padding-bottom: 4%;
    border-bottom: 1px solid #ccc;
}

.home-newsletter input[type="text"] {
    width: 96%;
    border: 1px solid #ccc;
}

.home-newsletter input[type="button"] {
    width: 98%;
    height: 2rem;
    margin-top: 2%;
}

.home-upcoming {
    display: none;
}

.home-faq {
    display: none;
}


/* NEWS HOMEPAGE - Recent News & Reviews ============================= */

.feed-item {
    clear: both;
    overflow: auto;
    padding-bottom: 1%;
    border-bottom: 1px solid #ccc;
}

.feed-item h3 {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.feed-image {
    width: 40%;
    float: left;
}

.feed-details {
    width: 55%;
    margin: 0;
    padding: 0;
    padding-left: 4%;
    float: left;
    margin-top: -8%;
}

.feed-details p {
    display: none;
}

.feed .feed-item {
    padding-bottom: 8%;
}

.home-footer {
    padding-top: 4%;
}


/* NEWS DETAIL PAGE ============================= */

.news-detail-wrapper {
    padding: 4%;
    padding-bottom: 0;
}

.news-detail-title {
    font-size: 1.313rem;
    line-height: 1.5rem;
    width: 80%;
}

.entry-meta {
    margin-top: 0;
    padding-left: 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.entry-meta span {
    margin-left: 1%;
    margin-right: 1%;
}

.entry-meta li {
    list-style: none;
    display: inline;
}

.byline {
    font-size: 1rem;
    line-height: 1.125rem;
}

.news-detail-aside {
    border-top: 1px solid #ccc;
}

.news-detail-form input[type=text] {
    width: 94%;
    padding: 2%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
}

.news-detail-form input[type=button] {
    width: 99%;
    height: 2.5rem;
}

.detail-sub-heading .long-version {
    display: none;
}


/* REVIEWS INDEX PAGE ============================= */

.reviews-feed-item {
    clear: both;
    overflow: auto;
    padding-bottom: 4%;
    border-bottom: 1px solid #ccc;
}

.reviews-feed-item h3 {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.reviews-sidebar p {
    margin-bottom: 0;
}

.sidebar-write-review {
    width: 100%;
    padding-bottom: 4%;
    border-bottom: 1px solid #ccc;
}

.sidebar-write-review-form input[type="text"] {
    width: 96%;
    border: 1px solid #ccc;
}

.sidebar-write-review-form input[type="button"] {
    width: 98%;
    height: 2rem;
    margin-top: 2%;
}

.reviews-title {
    margin-top: 4%;
}

.reviews-feed .feed-item {
    padding-bottom: 8%;
}

.reviews-footer {
    padding-top: 4%;
}


/* REVIEWS DETAIL PAGE ============================= 
   all the css for news detail page worked for this page too. 
   No new additions needed at this time.
*/


/* ABOUT US Page ============================= */

#about-main-content {
    clear: both;
    width: 94%;
    margin: auto;
    /*max-width: 320px;*/
}

.contact-info {
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}


/* used this link for solution - http://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line */

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

dt {
    font-weight: bold;
    float: left;
    width: 40%;
    padding: 0;
    margin: 0;
}

dd {
    float: left;
    width: 60%;
    padding: 0;
    margin: 0;
    padding-bottom: 5%;
}

address {
    font-style: normal;
}

.map-container {
    width: 80%;
    margin: auto;
    position: relative;
    padding-bottom: 75%;
    /* padding-bottom sets the map's aspect ratio */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mission {
    width: 80%;
    margin: auto;
}

.team {
    padding-left: 10%;
    /* for alignment */
}

.team-member {
    padding-top: 5%;
}

.team-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    padding-bottom: 40%;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
}

#team-img-01 {
    background-image: url('../img/team-jack.png');
}

#team-img-02 {
    background-image: url('../img/team-lana.png');
}

#team-img-03 {
    background-image: url('../img/team-willow.png');
}

.team-name {
    padding-top: 0;
    margin-top: 2%;
    /* This aligned the text to align vertically with the image on the left */
    margin-bottom: 0;
}

.team-title {
    margin-top: 2%;
}

.team-description {
    display: none;
}

.separator {
    clear: both;
    padding-top: 20%;
    margin-bottom: 4%;
    border-bottom: 1px solid #CCCCCC;
}


/* FAQ Page ============================= */

.faq-subnav {
    clear: both;
    width: 45%;
}

.faq-subnav ul {
    padding-top: 0;
    padding-bottom: 2%;
}

.faq-subnav ul li {
    background: none;
    border: none;
}

.who-we-are-nav {
    display: none;
}

#faq-main-content {
    clear: both;
    width: 94%;
    margin: auto;
    /*max-width: 320px;*/
}

.faq-container {
    width: 100%;
    padding: 4%;
    border-top: 1px solid #ccc;
}

.faq-details {
    border-bottom: 1px solid #ccc;
}

.faq-details h4 {
    font-weight: normal;
}

.last-faq-details {
    padding-bottom: 10%;
    margin-bottom: 4%;
}


/*  ========================================== */


/* since CSS cascades, I need these items last */


/*  ========================================== */

.last-item {
    border: 0;
}


/*  ======================= */


/*  ======= FOOTER ======== */


/*  ======================= */

footer {
    /* need to add clear:both property to clear the floats from news and reviews section.
       Otherwise footer mixes with last news/review section */
    clear: both;
    width: 70%;
    margin: auto;
}

#footer-logo {
    width: 100%;
    margin: auto;
    background-color: #000;
    max-width: 150px;
    padding: 1% 2%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* ==========================================================  */


/* =============== Media Query for TABLET =================== */


/* ==========================================================  */

@media (min-width: 768px) {
    /* Based on PSD for TABLET for news home page, the values for h1-h6 and <p> are posted below */
    p {
        font-size: 0.875rem;
        line-height: 1rem;
        font-weight: normal;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 1.375rem;
        font-weight: bold;
    }
    h2 {
        font-size: 1.313rem;
        line-height: 1rem;
        font-weight: bold;
    }
    h3 {
        font-size: 1.313rem;
        line-height: 1rem;
        font-weight: bold;
    }
    h4 {
        font-size: 1.125rem;
        line-height: 1.25rem;
        font-weight: bold;
    }
    h5 {
        font-size: 1.125rem;
        line-height: 1rem;
        font-weight: bold;
    }
    h6 {
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: bold;
    }
    /*  for tablet styles */
    .grey-line {
        display: inline;
        width: 100%;
        position: absolute;
        height: 5%;
        top: 3%;
        /* when I changed this from em to percentage, I was able to get the nav items within grey background and not overflow on the bottom */
        background: #ddd;
    }
    header {
        width: 96%;
        max-width: 768px;
        margin: auto;
    }
    #logo {
        width: 30%;
        float: left;
        max-width: 300px;
        padding: 3%;
        position: relative;
        z-index: 100;
    }
    nav {
        /* why did I add overflow:hidden? I was having issues with thin gray bar.
        http://stackoverflow.com/questions/4125691/css-horizontal-navigation-bar-with-background-color
        from link above:
        because your li is displayed inline and floating, which means that the containing ul does net get height from its children. Either give the ul a height or have a containing element around the ul and a clear: both after the ul and give that a background color
         */
        overflow: hidden;
        width: 60%;
        height: 10%;
        float: right;
        position: relative;
    }
    nav ul {
        width: 100%;
        float: right;
        list-style: none;
        padding-top: 7%;
        border: 0;
    }
    nav ul li {
        float: left;
        padding: 0 4%;
        border: 0;
    }
    #main-content {
        /*max-width: 768px;*/
        /* adds the horizontal rule */
        /*border-bottom: 1px solid #CCCCCC;*/
    }
    /* CONCERTS Page ============================= */
    .concerts-heading {
        clear: both;
        padding: 2%;
    }
    .concerts-wrapper-1,
    .concerts-wrapper-2 {
        width: 42%;
        float: left;
    }
    .concert-detail p {
        font-size: 1rem;
    }
    .concert-detail h5 {
        margin-bottom: 2%;
    }
    .last-item {
        border-bottom: 0;
    }
    /* MAIN NEWS HOME Page ============================= */
    .home-top-wrapper {
        padding-top: 4%;
        overflow: auto;
        padding-bottom: 4%;
    }
    .home-top-img img {
        /*padding: 0;*/
        border: 4px solid #000;
    }
    .home-top-img {
        width: 60%;
        float: left;
    }
    .home-top-info {
        width: 35%;
        float: left;
        padding-left: 4%;
        margin-top: -3%;
    }
    /* -- sidebar for news homepage --*/
    .feed {
        width: 56%;
        float: left;
        margin: 4%;
        margin-top: 0;
        margin-right: 0;
        border-right: 1px solid #ccc;
    }
    .feed-details {
        padding-top: 3%;
    }
    .home-sidebar {
        width: 39%;
        float: right;
    }
    .home-sidebar a {
        background-color: #b21e49;
        border: none;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.333em;
        text-align: center;
        box-shadow: 4px 4px 0 #DADADA;
        /* added padding to length the link to look similar to sign up button */
        padding: 4% 35%;
    }
    .home-upcoming {
        display: block;
        padding-bottom: 4%;
        border-bottom: 1px solid #ccc;
    }
    .home-faq {
        display: block;
        padding-bottom: 4%;
        border-bottom: 1px solid #ccc;
    }
    .faq {
        width: 100%;
    }
    .short-version {
        display: none;
    }
    /* NEWS DETAIL PAGE ============================= */
    .news-detail-wrapper {
        clear: both;
    }
    .entry-meta {
        margin-top: 0;
        padding-left: 0;
        font-size: 1rem;
        line-height: 1.125rem;
    }
    .entry-meta span {
        margin-left: 1%;
        margin-right: 1%;
    }
    .entry-meta li {
        list-style: none;
        display: inline;
    }
    .byline {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .news-detail-img {
        width: 45%;
        float: left;
    }
    .detail-sub-heading {
        width: 50%;
        float: left;
        padding-left: 4%;
    }
    .byline {
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .long-version {
        display: none;
    }
    .short-version {
        display: block;
    }
    .detail-clear-float {
        clear: both;
    }
    /* I used direct descendent combinator ">" CSS Selector that I learnt about at https://www.sitepoint.com/web-foundations/css-selectors/
       I wanted <p> elements that were only direct children of .news-detail class. There was another p inside a div which is inside .news-detail that I didn't want affected.
     */
    .news-detail > p {
        line-height: 1.5rem;
    }
    .newsletter-detail {
        overflow: auto;
        padding-bottom: 2%;
    }
    .news-detail-form input[type=text] {
        width: 55%;
        float: left;
    }
    .news-detail-form input[type=button] {
        width: 38%;
        float: left;
        margin-left: 2%;
        height: 3rem;
    }
    /* REVIEWS INDEX PAGE ============================= */
    .sidebar-write-review {
        overflow: auto;
    }
    .sidebar-write-review-form p {
        width: 60%;
        float: left;
    }
    .sidebar-write-review-form input[type="button"] {
        width: 35%;
        float: right;
        height: 2rem;
        margin-top: 2%;
    }
    .reviews-feed {
        clear: both;
        width: 100%;
        margin-left: 0;
        border: none;
    }
    .reviews-feed-item {
        overflow: auto;
        padding-bottom: 4%;
        border-bottom: 1px solid #ccc;
    }
    .reviews-feed-image {
        width: 20%;
    }
    .reviews-feed-details h4 {
        padding-top: 3%;
    }
    /* REVIEWS DETAIL PAGE ============================= */
    /* all the css for news detail page worked for this page too. No new additions needed at this time. */
    /* ======================================================================================= */
    /* ABOUT US Page ============================= */
    .about-divider {
        clear: both;
        border-bottom: 1px solid #ccc;
    }
    .contact-info {
        clear: both;
        width: 40%;
        float: left;
        margin: 0;
        padding-left: 4%;
        padding-bottom: 0;
    }
    .map-container {
        width: 45%;
        float: right;
        padding-bottom: 30%;
        margin: 2%;
        margin-bottom: 4%;
        border: 2px solid #000;
    }
    .mission {
        clear: both;
        width: 94%;
        margin: 0 4%;
        padding-bottom: 2%;
        border-bottom: 1px solid #ccc;
    }
    .team {
        padding-left: 4%;
    }
    .team-name {
        margin-top: 0;
    }
    .separator {
        border: none;
    }
    /* FAQ Page ============================= */
    .who-we-are-nav {
        display: block;
    }
    .faq-container {
        overflow: auto;
    }
    .last-faq-details {
        border: none;
    }
    /*  ========================================== */
    /* since CSS cascades, I need these items last */
    /*  ========================================== */
    .last-item {
        border: 0;
    }
    /*  ======================= */
    /*  ======= FOOTER ======== */
    /*  ======================= */
    footer {
        width: 100%;
        clear: both;
        padding-top: 4%;
        border-top: 1px solid #ccc;
    }
    #footer-logo {
        width: 30%;
        margin: auto;
    }
}


/* ========================== END OF tablet MEDIA QUERY ================================  */


/* ==========================================================  */


/* =============== Media Query for DESKTOP ================== */


/* ==========================================================  */

@media (min-width: 940px) {
    /* Based on PSD for TABLET for news home page, the values for h1-h6 and <p> are posted below */
    p {
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: normal;
    }
    h1 {
        font-size: 2.25rem;
        line-height: 2.25rem;
        font-weight: bold;
    }
    h2 {
        font-size: 1.875rem;
        line-height: 1rem;
        font-weight: bold;
    }
    h3 {
        font-size: 1.875rem;
        line-height: 1.875rem;
        font-weight: bold;
    }
    h4 {
        font-size: 1.313rem;
        line-height: 1.25rem;
        font-weight: bold;
    }
    h5 {
        font-size: 1.125rem;
        line-height: 1rem;
        font-weight: bold;
    }
    h6 {
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: bold;
    }
    /*  All the font changes for all the pages for for desktop styles */
    .faq h3 {
        font-size: 1.875rem;
        line-height: 1.875rem;
    }
    .home-top-info h2 {
        font-size: 1.875rem;
        line-height: 1.875rem;
    }
    /* ============= END of font changes for desktop ========== */
    /* ======================================================== */
    .grey-line {
        /*display: none;*/
        height: 5%;
        top: 3%;
        /* when I changed this from em to percentage, I was able to get the nav items within grey background and not overflow on the bottom */
    }
    header {
        max-width: 940px;
    }
    nav ul {
        /* the li nav items were being pushed down in desktop version with grey background. so padding-top was adjusted to overwrite tablet version of nav ul property. */
        padding-top: 5%;
    }
    /*#main-content {
        max-width: 1400px;
    }*/
    /* CONCERTS Page ============================= */
    .upcoming-concerts-container {
        width: 65%;
        float: left;
        border-right: 1px solid #ccc;
    }
    .concerts-aside {
        display: block;
        width: 30%;
        float: left;
        padding-top: 1%;
        padding-left: 2%;
    }
    .concerts-aside input[type=text] {
        width: 96%;
    }
    .concerts-aside input[type=button] {
        width: 98%;
        margin-top: 2%;
    }
    /* MAIN NEWS HOME Page ============================= */
    .home-top-wrapper {
        width: 60%;
        float: left;
        padding-top: 0;
        padding-right: 4%;
        margin-top: 2%;
        border: 0;
        border-right: 1px solid #ccc;
    }
    .home-sidebar {
        clear: none;
        /* clear this first as tablet version has a different float alignment */
        width: 33%;
        float: left;
        padding-left: 2%;
    }
    .home-top-img {
        float: none;
        width: 100%;
    }
    .home-top-info {
        float: none;
        width: 100%;
        padding-top: 4%;
        padding-left: 0;
    }
    .feed {
        clear: both;
        width: 100%;
        margin-left: 0;
        border: 0;
        border-top: 1px solid #ccc;
    }
    .short-version {
        display: block;
    }
    .long-version {
        display: none;
    }
    .feed-details {
        width: 75%;
        padding-top: 6%;
    }
    .feed-details p {
        display: block;
    }
    .feed-image {
        width: 20%;
    }
    .home-upcoming {
        display: block;
        padding-bottom: 8%;
        border-bottom: 1px solid #ccc;
    }
    .home-faq {
        display: block;
        padding-bottom: 8%;
        border: none;
    }
    /* NEWS DETAIL PAGE ============================= */
    .news-detail-main {
        clear: both;
        width: 60%;
        float: left;
        padding-right: 3%;
        border-right: 1px solid #ccc;
    }
    /* fixed the issue where newsletter signup horizontal rule was not touching vertical rule between news detail section and newsletter aside 
    http://stackoverflow.com/questions/4131490/any-way-to-limit-border-length
    used relative and absolute positioning to achieve this.
    */
    .news-detail-aside {
        clear: none;
        width: 35%;
        float: right;
        border: none;
        padding-bottom: 1%;
        /*border-bottom: 1px solid #ccc;*/
        position: relative;
    }
    .newsletter-detail {
        position: absolute;
        padding: 4%;
        padding-top: 1%;
        margin-left: -6%;
        border-bottom: 1px solid #ccc;
    }
    .entry-meta {
        margin-top: 0;
        padding-left: 0;
        font-size: 1rem;
        line-height: 1.125rem;
    }
    .entry-meta span {
        margin-left: 1%;
        margin-right: 1%;
    }
    .entry-meta li {
        list-style: none;
        display: inline;
    }
    .news-detail-img {
        width: 100%;
    }
    .detail-sub-heading {
        width: 100%;
        clear: none;
        padding-left: 0;
    }
    .news-detail-title {
        font-size: 2.25rem;
        line-height: 2.25rem;
        width: 100%;
    }
    .byline {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .news-detail > p {
        line-height: 1.375rem;
    }
    .newsletter-detail h3 {
        line-height: 1rem;
        margin-top: 0;
        margin-bottom: 8%;
    }
    .news-detail-form input[type=text] {
        clear: both;
        width: 95%;
        height: 2rem;
    }
    .news-detail-form input[type=button] {
        clear: both;
        width: 99%;
        margin-left: 0;
        margin-top: 2%;
    }
    /* REVIEWS INDEX PAGE ============================= */
    .sidebar-write-review {
        width: 35%;
        float: right;
    }
    .sidebar-write-review-form p {
        width: 100%;
        float: none;
    }
    .sidebar-write-review-form input[type="button"] {
        width: 100%;
        float: none;
        height: 2rem;
        margin-top: 4%;
    }
    .reviews-feed-details h4 {
        padding-top: 0;
    }
    /* REVIEWS DETAIL PAGE ============================= */
    /* all the css for news detail page worked for this page too. No new additions needed at this time. */
    /*  =============================================================================================== */
    /* ABOUT US Page ============================= */
    .team-description {
        display: block;
    }
    /* FAQ Page ============================= */
    .faq-subnav {
        clear: both;
        width: 42%;
        float: right;
        margin-top: -4%;
        margin-bottom: 2%;
    }
    .faq-container h1 {
        margin-top: 0;
    }
    .faq-details {
        padding-bottom: 4%;
    }
    /*  ========================================== */
    /* since CSS cascades, I need these items last */
    /*  ========================================== */
    .last-item {
        border: 0;
    }
    /*  ======================= */
    /*  ======= FOOTER ======== */
    /*  ======================= */
    footer {
        padding-top: 2%;
    }
    .news-detail-md {
        display: none;
        padding-bottom: 4%;
    }
}


/* ========================== END OF DESKTOP MEDIA QUERY ================================  */

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}