/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: none;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* COLORS =============================================
Dark Pink (Magenta): #b21e49;
Light Grey: #eeeeee;
Bright Pink: #ff1256;
Dark Grey: #222222;
Blue: #23a4cc;
============================================= */


/* Global Styles ============================= */

body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #222222;
    background: #eeeeee;
}

a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #23a4cc;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4 {}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
    /* 21px */
    /*font-size: 2.25rem;*/
    /* 36px */
    /*font-weight: 700;*/
    /*line-height: 0.667;*/
}

h2 {
    font-size: 1.2rem;
    /* 30px */
    font-weight: bold;
    line-height: 1;
}

h3 {
    font-size: 1.17rem;
    font-weight: bold;
    line-height: 1;
}

h4 {
    font-size: 1.2;
    font-weight: bold;
    line-height: 1;
}

.btn {
    background-color: #ff1256;
    border: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333em;
    text-align: center;
    box-shadow: 2px 2px 0 #DADADA;
    /* this is what I extracted from photoshop - box-shadow: 1.5px 2.598px 0 0 rgba(178, 30, 73, 0.4);*/
}

.btn:hover {
    background-color: #b21e49;
}

img {
    width: 100%;
    height: auto;
}


/* sm for mobile, md for tablet and lg for desktop version */

.hr-lg {
    display: none;
}


/* Header ============================= */

.grey-line {
    display: none;
}

header {
    width: 100%;
    background: #DDD;
}

#logo {
    width: 90%;
    margin: auto;
    /* centers the logo */
    background: #000;
    /* added this as the image for logo is white text on grey background. To get white text on black background, added black background here*/
    max-width: 280px;
    padding: 5%;
}

nav {
    width: 100%;
    margin: auto;
}

nav ul {
    margin: auto;
    /*  centers the navigation items */
    list-style: none;
}

nav ul li {
    background: #DDDDDD;
    border-bottom: 1px solid #CCCCCC;
    /* adds the horizontal rule for mobile version */
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
}

nav ul li a {
    color: #222222;
}


/* Tried using just .current to specify color, but it didn't work. Aleia mentioned that sometimes you have to be specific when you are in the nav element */

nav ul li.current a {
    color: #ff1256;
}

.subnav {
    display: none;
}


/* Main Content ============================= */

#main-content {
    clear: both;
    width: 94%;
    margin: auto;
    max-width: 320px;
}

.hero-area {
    width: 100%;
}

.home-hero-area {
    width: 100%;
}

.top-story {
    width: 100%;
}

.home-top-story {
    width: 100%;
}

.home-top-img {
    width: 100%;
    margin: 0;
}

.home-top-info {
    width: 100%;
}

.top-img {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 5% 2%;
}

.top-info {
    border-bottom: 1px solid #ccc;
}


/* Sidebar ============================= */


/*aside {
    width: 100%;
}*/

.newsletter {
    width: 100%;
}

.newsletter input {
    width: 100%;
    display: block;
}

.newsletter input[type=text] {
    border: 1px solid #ccc;
    height: 30px;
}

.newsletter-btn {
    margin-top: 2%;
    padding: 5%;
    box-shadow: 2px 2px 0px #888888;
}

.home-newsletter {
    width: 100%;
}

.home-newsletter-form input {
    width: 100%;
    display: block;
}

.home-newsletter-form input[type=text] {
    border: 1px solid #ccc;
    height: 1.5rem;
    margin-bottom: 2%;
}

.upcoming {
    display: none;
}

.faq {
    display: none;
}


/* Recent News & Reviews section ============================= */

.feed {
    width: 100%;
}

.feed .title {
    font-size: 1rem;
    font-weight: 600;
}

.feed-item {
    clear: both;
    margin-left: 2%;
}

.feed-type {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}

.feed-image {
    width: 45%;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 6%;
    float: left;
    border: 2px solid #ccc;
}

.feed-details {
    width: 45%;
    float: left;
    margin-top: -15px;
}

.feed-details a {
    font-weight: 600;
    color: #000;
}

.feed-item p {
    display: none;
}

.divider {
    padding-bottom: 0;
}


/* NEWS DETAIL PAGE ============================= */

.detail-clear-float {
    display: none;
}

.news-detail-title {
    margin-bottom: 1%;
}

.entry-meta {
    margin-top: 0;
    padding-left: 0;
    font-size: 0.75rem;
}

.entry-meta span {
    margin-left: 1%;
    margin-right: 1%;
}

.entry-meta li {
    list-style: none;
    display: inline;
}

.byline {
    font-size: 1rem;
    font-weight: 400;
}

.byline span {
    font-weight: bold;
}

.top-story .news-detail {
    padding-bottom: 0;
}



.news-detail-aside {
    padding-left: 4%;
}

.news-detail {
    padding-left: 4%;
    padding-right: 4%;
}

.news-detail hr {
    margin-bottom: 0;
}

.news-detail-md {
    display: none;
}


/* ABOUT US PAGE ============================= */

.about-us {
    width: 100%;
}

.contact-info {
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}


/* used this link for solution - http://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line */

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

dt {
    font-weight: bold;
    float: left;
    width: 40%;
    padding: 0;
    margin: 0;
}

dd {
    float: left;
    width: 60%;
    padding: 0;
    margin: 0;
    padding-bottom: 5%;
}

address {
    font-style: normal;
}

.map-container {
    width: 80%;
    margin: auto;
    position: relative;
    padding-bottom: 75%;
    /* this sets the map's aspect ratio */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mission {
    width: 80%;
    margin: auto;
}

.team {
    padding-left: 10%;
    /* for alignment */
}

.team-member {
    padding-top: 5%;
}

.team-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    padding-bottom: 40%;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
}

#team-img-01 {
    background-image: url('../img/team-jack.png');
}

#team-img-02 {
    background-image: url('../img/team-lana.png');
}

#team-img-03 {
    background-image: url('../img/team-willow.png');
}

.team-name {
    padding-top: 0;
    margin-top: 2%;
    /* This aligned the text to align vertically with the image on the left */
    margin-bottom: 0;
}

.team-title {
    margin-top: 2%;
}

.team-description {
    display: none;
}

.separator {
    clear: both;
    padding-top: 20%;
    border-bottom: 1px solid #CCCCCC;
}


/* Footer ============================= */

footer {
    /* need to add clear:both property to clear the floats from news and reviews section.
       Otherwise footer mixes with last news/review section */
    clear: both;
    padding-top: 5%;
    width: 70%;
    margin: auto;
}

#footer-logo {
    width: 100%;
    margin: auto;
    background-color: #000;
    max-width: 150px;
    padding: 1% 2%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* ==========================================================  */


/* =============== Media Query for TABLET =================== */


/* ==========================================================  */


/* I was having issues with news-detail-aside in news-detail html page as in tablet, float has to be cleared for that class
By making tablet media query specific with both min-width and max-width, I was able to fix the issue where tablet's news-detail-aside was overriding desktop's news-detail-aside.
*/

@media (min-width: 768px) and (max-width:939px) {
    .news-detail-aside {
        clear: both;
        padding: 2% 4%;
    }
}


/*
I still have a generic tablet version below as I needed rest to cascade to desktop
 */

@media (min-width: 768px) {
    /*  for tablet styles */
    .grey-line {
        display: inline;
        width: 100%;
        position: absolute;
        height: 5%;
        top: 3%;
        /* when I changed this from em to percentage, I was able to get the nav items within grey background and not overflow on the bottom */
        background: #ddd;
    }
    header {
        width: 96%;
        max-width: 768px;
        margin: auto;
    }
    #logo {
        width: 30%;
        float: left;
        max-width: 300px;
        padding: 3%;
        position: relative;
        z-index: 100;
    }
    nav {
        /* why did I add overflow:hidden? I was having issues with thin gray bar.
        http://stackoverflow.com/questions/4125691/css-horizontal-navigation-bar-with-background-color
        from link above:
        because your li is displayed inline and floating, which means that the containing ul does net get height from its children. Either give the ul a height or have a containing element around the ul and a clear: both after the ul and give that a background color
         */
        overflow: hidden;
        width: 60%;
        height: 10%;
        float: right;
        position: relative;
    }
    nav ul {
        width: 100%;
        float: right;
        list-style: none;
        padding-top: 7%;
        border: 0;
    }
    nav ul li {
        float: left;
        padding: 0 4%;
        border: 0;
    }
    #main-content {
        clear: both;
        width: 94%;
        margin: auto;
        max-width: 768px;
        /* adds the horizontal rule */
        /*border-bottom: 1px solid #CCCCCC;*/
    }
    /*  Featured news item section ============== */
    .top-story {
        width: 60%;
        float: left;
        padding-top: 4%;
    }
    .top-img {
        width: 100%;
        height: auto;
    }
    .top-info {
        width: 36%;
        float: left;
        padding-left: 4%;
        padding-top: 4%;
        border-bottom: 0;
    }
    hr {
        clear: both;
        margin-bottom: 0;
    }
    /* sidebar section ===================== */
    .sidebar {
        clear: both;
        width: 35%;
        float: right;
    }
    .sidebar a {
        background-color: #b21e49;
        border: none;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.333em;
        text-align: center;
        box-shadow: 4px 4px 0 #DADADA;
        /* added padding to length the link to look similar to sign up button */
        padding: 4% 35%;
    }
    .home-upcoming {
        display: block;
        padding-bottom: 12%;
        margin-left: -15%;
        margin-right: -15%;
        border-bottom: 1px solid #ccc;
    }
    .upcoming {
        display: block;
        padding-top: 4%;
        padding-left: 8%;
        padding-right: 8%;
    }
    .home-faq {
        display: block;
        padding-bottom: 12%;
        margin-left: -15%;
        margin-right: -15%;
        border-bottom: 1px solid #ccc;
    }
    .faq {
        display: block;
        padding-top: 4%;
        padding-left: 8%;
        padding-right: 8%;
    }
    .full-container {
        margin-left: -14%;
    }
    .push-down {
        margin-top: 10%;
    }
    .home-newsletter {
        /* the border-bottom ruler is not filling up left to right in container unless width is set to 125% */
        width: 125%;
        display: block;
        padding-bottom: 8%;
        margin-left: -15%;
        margin-right: 0;
        border-bottom: 1px solid #ccc;
    }
    .home-newsletter-form {
        width: 85%;
        margin-left: 4%;
        margin-right: 4%;
        padding-left: 4%;
        padding-right: 4%;
    }
    .home-newsletter input {
        width: 90%;
        display: block;
    }
    .home-news-detail-form {
        width: 90%;
    }
    .home-newsletter input[type=text] {
        width: 100%;
        height: 2rem;
        margin-bottom: 4%;
        border: 1px solid #ccc;
    }
    .home-newsletter input[type=button] {
        width: 100%;
    }
    .home-newsletter-btn {
        margin-top: 0;
        margin-left: 2%;
        padding: 4%;
        /*padding-bottom: 4%;*/
    }
    /*  Recent News & Reviews section ============== */
    .feed {
        width: 60%;
        float: left;
        border-right: 1px solid #CCCCCC;
    }
    .feed-image {
        width: 35%;
    }
    /*   DETAILS pages ======================= */
    .detail-img {
        width: 45%;
        float: left;
    }
    .detail-title {
        width: 50%;
        float: right;
    }
    .reviews-detail {
        clear: both;
    }
    aside.detail {
        width: 100%;
    }
    .detail .newsletter h2 {
        display: inline;
    }
    .detail .newsletter input {
        display: inline;
    }
    /* NEWS DETAIL PAGE ============================= */
    .top-story-detail {
        width: 96%;
    }
    .top-img img {
        width: 40%;
        float: left;
    }
    /* 
        http://stackoverflow.com/questions/1709442/make-divs-height-expand-with-its-content
        added overflow:auto from link above because the home-hero-area was of height 1px and was not expanding to accomodate the DIVs inside
    */
    .home-hero-area {
        overflow: auto;
        padding-bottom: 4%;
        border-bottom: 1px solid #ccc;
    }
    
    .home-top-story {
        width: 60%;
        float: left;
        padding-top: 4%;
    }
    .home-top-img {
        width: 100%;
        float: left;
    }
    .home-top-info {
        width: 36%;
        float: left;
        padding-left: 4%;
        padding-top: 2%;
        border-bottom: 0;
    }
    .detail-sub-heading {
        width: 56%;
        margin-left: 4%;
        float: left;
    }
    
    .add-space {
        padding-top: 10%;
    }
    .news-detail-title {
        margin-top: 0;
    }
    .detail-clear-float {
        /* since I hid this div in mobile version, I need to redisplay it here to block value*/
        display: block;
        clear: both;
        /*padding-bottom: 2%;*/
    }
    .news-detail-wrapper {
        padding-top: 4%;
        padding-left: 2%;
    }
    /*.detail-sub-heading {
        padding-top: 4%;
    }*/
    /* article and figure had margin and padding. so need to take them out */
    .news-detail-main article {
        margin: 0;
        padding: 0;
    }
    .news-detail-main figure {
        margin: 0;
        padding: 0;
    }
    .long-version {
        display: block;
    }
    .short-version {
        display: none;
    }
    .newsletter input {
        width: 90%;
        display: inline;
    }
    .news-detail-form {
        width: 90%;
    }
    .newsletter input[type=text] {
        width: 70%;
        float: left;
    }
    .newsletter input[type=button] {
        width: 27%;
        float: left;
    }
    .newsletter-btn {
        margin-top: 0;
        margin-left: 2%;
        padding: 1%;
    }
    .news-detail {
        clear: both;
    }
    .news-detail-aside hr {
        display: none;
    }
    .news-detail-md {
        clear: both;
        display: block;
        margin-bottom: 4%;
    }
    /* ABOUT US PAGE ============================= */
    .contact-info {
        width: 40%;
        float: left;
    }
    .map-container {
        width: 60%;
        float: left;
    }
    /*  footer ================ */
    footer {
        width: 100%;
        clear: both;
    }
    #footer-logo {
        width: 30%;
        margin: auto;
    }
}


/* ==========================================================  */


/* =============== Media Query for DESKTOP ================== */


/* ==========================================================  */

@media (min-width: 940px) {
    /*  for desktop styles */
    h1 {
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin: 0;
    }
    .grey-line {
        /*display: none;*/
        height: 5%;
        top: 3%;
        /* when I changed this from em to percentage, I was able to get the nav items within grey background and not overflow on the bottom */
    }
    header {
        max-width: 940px;
    }
    nav ul {
        /* the li nav items were being pushed down in desktop version with grey background. so padding-top was adjusted to overwrite tablet version of nav ul property. */
        padding-top: 4%;
    }
    #main-content {
        clear: both;
        width: 94%;
        margin: auto;
        max-width: 940px;
    }
    /*  for NEWS HOME PAGE ============== */
    .home-top-wrapper {
        overflow: auto;
        border-bottom: 1px solid #ccc;
        /* added line-height as the border-bottom would not align with the vertical line separating image and sidebar till line-height was adjusted to this div. */
        /* read the last line of this url for solution - http://stackoverflow.com/questions/19815535/how-do-i-remove-the-space-between-div-and-top-of-page */
        line-height: 4em;
    }
    .home-hero-area {
        width: 60%;
        float: left;
        padding-top: 4%;
        /*border-right: 1px solid #ccc;*/
        border-bottom: 0;
    }
    .home-faq {
        border-bottom: 0;
    }
    .home-top-story {
        width: 100%;
        float: none;
        padding-top: 4%;
    }
    .home-top-img {
        width: 94%;
        height: auto;
        border: 4px solid #000;
        /*max-width: 620px;*/
    }
    .home-top-info {
        width: 100%;
        padding: 0;
        border-bottom: 0;
    }
    .home-top-info h2 {
        font-size: 2rem;
    }
    .long-version {
        display: none;
    }
    .short-version {
        display: block;
    }
    .sidebar h3 {
        font-size: 1.4rem;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    /*  Featured news item section ============== */
    .top-section {
        margin-bottom: 4%;
    }
    /* Displays only for desktop */
    .hr-lg {
        display: block;
        margin-top: 4%;
    }
    .hero-area {
        width: 60%;
        float: left;
        padding-top: 4%;
    }
    .top-story {
        width: 100%;
        float: left;
        padding-top: 4%;
    }
    .top-img {
        width: 100%;
        height: auto;
        /*max-width: 620px;*/
    }
    .top-info {
        width: 100%;
        padding: 0;
        border-bottom: 0;
    }
    .top-info p {
        padding-bottom: 2%;
    }
    .home-newsletter {
        border-left: 1px solid #ccc;
    }
    .home-upcoming {
        border-left: 1px solid #ccc;
    }
    .home-faq {
        border-left: 1px solid #ccc;
    }
    hr {
        clear: both;
        margin-bottom: 0;
    }
    /* sidebar section ===================== */
    .sidebar {
        clear: none;
        width: 35%;
        float: right;
        margin-top: 4%;
        padding-top: 2%;
    }
    h3 {
        font-size: 2.2rem;
    }
    .sidebar a {
        background-color: #b21e49;
        border: none;
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.333em;
        text-align: center;
        box-shadow: 4px 4px 0 #DADADA;
        /* added padding to length the link to look similar to sign up button */
        padding: 4% 35%;
    }
    .upcoming {
        display: block;
        padding-top: 4%;
    }
    .faq {
        display: block;
        padding-top: 4%;
    }
    .full-container {
        display: none;
    }
    .push-down {
        display: none;
    }
    .toggle-hr {
        display: none;
    }
    /*  Recent News & Reviews section ============== */
    .feed {
        width: 100%;
        clear: both border-right: 1px solid #CCCCCC;
    }
    .feed-image {
        width: 35%;
    }
    /*  Recent News & Reviews section ============== */
    h4 {
        font-size: 1.8em;
        margin-bottom: 2%;
    }
    .feed {
        width: 100%;
        clear: both;
        border: 0;
    }
    .feed-item {
        margin-left: 0;
    }
    .feed-image {
        width: 30%;
        margin-right: 4%;
        margin-left: 0;
    }
    .feed-details {
        width: 65%;
    }
    .feed-details p {
        display: inline;
    }
    .final-divider {
        padding-top: 2%;
    }
    /* NEWS DETAIL PAGE ============================= */
    .clear-float {
        clear: both;
    }
    .add-space {
        display: none;
    }
    .news-detail-wrapper {
        overflow: auto;
        /*line-height: 4em;*/
        border-bottom: 1px solid #ccc;
    }
    .news-detail-main {
        width: 60%;
        float: left;
        padding-right: 4%;
        padding-top: 0;
        border-right: 1px solid #ccc;
    }
    .news-detail-aside {
        width: 26%;
        float: left;
        padding-left: 2%;
    }
    .news-detail-aside h3 {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .news-detail-main .top-img hr {
        display: none;
    }
    .top-img img {
        width: 100%;
        clear: both;
    }
    .detail-sub-heading {
        clear: both;
        width: 100%;
        margin-left: 0;
        float: none;
    }
    .news-detail-form {
        width: 100%;
    }
    .newsletter input {
        width: 100%;
        display: block;
    }
    .newsletter input[type=text] {
        width: 100%;
        float: none;
    }
    .newsletter input[type=button] {
        margin-top: 4%;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding: 4% 0;
        float: none;
    }
    .news-detail-aside hr {
        display: block;
        /* It's -8% because the hr needs to touch the left vertical hr border .*/
        margin-left: -8%;
    }
    /*  footer ================ */
    footer {
        padding-top: 2%;
    }
    .news-detail-md {
        display: none;
        padding-bottom: 4%;
    }
}


/* Media Query for print ============================= */

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}