/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* COLORS =============================================
Dark Pink (Magenta): #b21e49;
Light Grey: #eeeeee;
Bright Pink: #ff1256;
Dark Grey: #222222;
Blue: #23a4cc;
============================================= */


/* Global Styles ============================= */

body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #222222;
}

a {
    font-weight: bold;
    color: #23a4cc;
    text-decoration: none;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4 {}

h1 {
    font-size: 2.25rem;
    /* 36px */
    font-weight: bold;
    line-height: 0.667;
}

h2 {
    font-size: 1.875rem;
    /* 30px */
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
}

h3 {
    font-size: 1.5;
    /* 24px */
    font-weight: bold;
    line-height: 1;
}

h4 {}

.btn {
    background-color: #ff1256;
    border: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333em;
    text-align: center;
    box-shadow: 2px 2px 0 #DADADA;
    /* this is what I extracted from photoshop - box-shadow: 1.5px 2.598px 0 0 rgba(178, 30, 73, 0.4);*/
}

.btn:hover {
    background-color: #b21e49;
}

img {
    width: 100%;
    height: auto;
}


/* Header ============================= */

header {
    width: 100%;
}

#logo {
    width: 90%;
    margin: auto;
    /* centers the logo */
    background: #000;   /* added this as the image for logo is white text on grey background. To get white text on black background, added black background here*/
    max-width: 312px;
}

nav {
    width: 100%;
}

nav ul {
    margin: auto;
    /*  centers the navigation items */
}



/* Main Content ============================= */

#main-content {
    clear:both;
    width: 96%;
    margin: 0 2%;
}

.hero-area {
    width: 100%;
}

.top-story {
    width: 100%;
}

.top-img {
    width: 100%;
    height: auto;
}


/* Sidebar ============================= */

aside {
    width: 100%;
}

.newsletter {
    width: 100%;
}

.upcoming {
    display: none;
}

.faq {
    display: none;
}


/* Recent News & Reviews section ============================= */

.feed {
    width: 100%;
}

.feed-item {
    clear: both;
}

.feed-image {
    width: 44%;
    margin-right: 6%;
    float: left;
}

.feed-item p {
    display: none;
}


/* ABOUT PAGE ============================= */

.mission {
    width: 100%;
    float: left;
}

.team {}

.team-member {}

.team-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    padding-bottom: 40%;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
}

#team-img-01 {
    background-image: url('../img/team-jack.png');
}

.team-name {}

.team-title {}

.team-description {}


/* Footer ============================= */

footer {
    /* need to add clear:both property to clear the floats from news and reviews section.
       Otherwise footer mixes with last news/review section */
    clear: both;
    width: 70%;
    margin: auto;
}

#footer-logo {
    width: 100%;
    background-color: #000;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 768px) {
    /*  for tablet styles */
    #logo {
        width: 40%;
        float: left;
    }
    nav {
        width: 60%;
        float: right;
    }
    /*  Featured news item section ============== */
    .top-story {
        width: 100%;
    }
    .top-img {
        width: 50%;
        height: auto;
    }
    /* sidebar section ===================== */
    .sidebar {
        clear: both;
        width: 30%;
        float: right;
    }
    .upcoming {
        display: block;
    }
    .faq {
        display: block;
    }
    /*  Recent News & Reviews section ============== */
    .feed {
        width: 60%;
        float: left;
    }
    .feed-image {
        width: 35%;
    }
    /*   DETAILS pages ======================= */
    .detail-img {
        width: 45%;
        float: left;
    }
    .detail-title {
        width: 50%;
        float: right;
    }
    .reviews-detail {
        clear: both;
    }
    aside.detail {
        width: 100%;
    }
    .detail .newsletter h2 {
        display: inline;
    }
    .detail .newsletter input {
        display: inline;
    }
    /*  footer ================ */
    footer {
        width: 100%;
        clear: both;
    }
    #footer-logo {
        width: 30%;
        margin: auto;
    }
}

@media (min-width: 940px) {
    /*  for desktop styles */
    .top-img {
        width: 100%;
        max-width: 620px;
    }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}